header
{
    background-color: brown;
    color: beige;
    text-align: center;
    font-size: 60pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    main {
        background-color:bisque;
    color:black;
    text-align: center;
    font-size: 40pt;
    font-family:'Times New Roman', Times, serif
    }
    footer {
        background-color:aquamarine;
    color:black;
    text-align: center;
    font-size: 40pt;
    font-family:'Times New Roman', Times, serif
    }
   